n8n/imovel-landing-wf.json
{
  "id": "imovel-landing-wf",
  "name": "Prisma - Imovel Landing",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "imovel-landing",
        "responseMode": "lastNode",
        "options": {}
      },
      "id": "webhook-imovel-1",
      "name": "Webhook Imovel",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1.1,
      "position": [
        0,
        304
      ],
      "webhookId": "b1e2c3d4-imovel-landing-0001"
    },
    {
      "parameters": {
        "jsCode": "const tallyBody = $json.body || {};\nconst isTally = !!tallyBody.data?.fields;\n\nfunction getField(label) {\n  if (!isTally) return null;\n  return tallyBody.data.fields.find(x => x.label && x.label.toLowerCase().includes(label.toLowerCase()));\n}\nfunction getValue(label, directKey) {\n  const f = getField(label);\n  if (f) {\n    if (f.type === 'FILE_UPLOAD' && Array.isArray(f.value)) return f.value.map(v => v.url);\n    if (Array.isArray(f.value)) return f.value;\n    return f.value || '';\n  }\n  return tallyBody[directKey] !== undefined ? tallyBody[directKey] : '';\n}\n\nconst imobiliaria = getValue('Nome da Imobiliária', 'imobiliaria') || '';\nconst logoArr = getValue('Logótipo da Imobiliária', 'logo');\nconst logoUrl = Array.isArray(logoArr) ? (logoArr[0] || '') : (logoArr || '');\nconst titulo = getValue('Título do Imóvel', 'titulo') || '';\nconst preco = getValue('Preço', 'preco') || '';\nconst tipologia = getValue('Tipologia', 'tipologia') || '';\nconst area = getValue('Área', 'area') || '';\nconst quartos = getValue('Quartos', 'quartos') || '';\nconst wc = getValue('WC', 'wc') || '';\nconst localizacao = getValue('Localização', 'localizacao') || '';\nconst fotosArr = getValue('Fotos do Imóvel', 'fotos');\nconst fotos = Array.isArray(fotosArr) ? fotosArr : (fotosArr ? [fotosArr] : []);\nconst videoUrl = getValue('Link do Vídeo', 'video_url') || '';\nconst destaque1 = getValue('Destaque 1', 'destaque1') || '';\nconst destaque2 = getValue('Destaque 2', 'destaque2') || '';\nconst destaque3 = getValue('Destaque 3', 'destaque3') || '';\nconst extrasArr = getValue('Extras', 'extras');\nconst extras = Array.isArray(extrasArr) ? extrasArr : (extrasArr ? [extrasArr] : []);\nconst ano = getValue('Ano de Construção', 'ano') || '';\nconst corretorNome = getValue('Nome do Corretor', 'corretor_nome') || '';\nconst corretorWhatsapp = getValue('WhatsApp do Corretor', 'corretor_whatsapp') || '';\nconst corretorEmail = getValue('Email do Corretor', 'corretor_email') || '';\nconst nif = getValue('NIF', 'nif') || '';\n\nconst imovel = {\n  imobiliaria, logo: logoUrl, titulo, preco, tipologia, area, quartos, wc, localizacao,\n  fotos, video_url: videoUrl,\n  destaques_unicos: [destaque1, destaque2, destaque3].filter(Boolean),\n  extras, ano, corretor: { nome: corretorNome, whatsapp: corretorWhatsapp, email: corretorEmail }, nif\n};\n\n// G1 -- validacao de entrada fail-loud: um campo obrigatorio vazio nunca deve\n// produzir uma landing publicavel sem os dados do cliente (ver STATE.md).\n// Opcionais (podem faltar em silencio): logo, video_url, extras, ano.\nconst REQUIRED_SIMPLE = {\n  'Nome da Imobiliaria': imobiliaria,\n  'Titulo do Imovel': titulo,\n  'Preco': preco,\n  'Tipologia': tipologia,\n  'Area': area,\n  'Quartos': quartos,\n  'WC': wc,\n  'Localizacao': localizacao,\n  'Destaque 1': destaque1,\n  'Destaque 2': destaque2,\n  'Destaque 3': destaque3,\n  'Nome do Corretor': corretorNome,\n  'WhatsApp do Corretor': corretorWhatsapp,\n  'Email do Corretor': corretorEmail,\n  'NIF': nif\n};\nconst camposEmFalta = Object.entries(REQUIRED_SIMPLE)\n  .filter(([, v]) => String(v ?? '').trim() === '')\n  .map(([label]) => label);\nif (fotos.length < 4) camposEmFalta.push('Fotos do Imovel (minimo 4, recebidas ' + fotos.length + ')');\nif (camposEmFalta.length) {\n  throw new Error('VALIDACAO DE ENTRADA: campo(s) obrigatorio(s) vazio(s) ou ausente(s) -- ' +\n    camposEmFalta.join(', ') + '. Execucao falhada antes de chamar o Gemini, nada publicado.');\n}\n\nlet logoStatus = 'ausente';\nlet logoInlinePart = null;\nlet logoBase64 = '';\nlet logoMime = '';\nif (logoUrl) {\n  try {\n    const res = await this.helpers.httpRequest({ url: logoUrl, encoding: 'arraybuffer' });\n    logoBase64 = Buffer.from(res).toString('base64');\n    logoMime = logoUrl.toLowerCase().endsWith('.png') ? 'image/png'\n      : logoUrl.toLowerCase().endsWith('.svg') ? 'image/svg+xml'\n      : logoUrl.toLowerCase().endsWith('.webp') ? 'image/webp' : 'image/jpeg';\n    logoInlinePart = { inlineData: { mimeType: logoMime, data: logoBase64 } };\n    logoStatus = 'presente, imagem fornecida';\n  } catch (e) {\n    logoStatus = 'ausente (falha ao descarregar)';\n  }\n}\n\nreturn [{ json: { imovel_raw: imovel, logo_status: logoStatus, logo_base64: logoBase64, logo_mime: logoMime, logo_inline_part: logoInlinePart } }];\n"
      },
      "id": "code-prepara-payload-diretor-1",
      "name": "Prepara Payload Diretor",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        180,
        304
      ]
    },
    {
      "parameters": {
        "fileSelector": "/home/node/.n8n-files/builds/_variation_ledger.json",
        "options": {
          "dataPropertyName": "ledger"
        }
      },
      "id": "read-ledger-1",
      "name": "Le Variation Ledger",
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1,
      "position": [
        360,
        304
      ],
      "continueOnFail": true,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "const FONT_POOL = [\n  { display: 'Cormorant Garamond', body: 'Inter' },\n  { display: 'Playfair Display', body: 'Source Sans 3' },\n  { display: 'Fraunces', body: 'Work Sans' },\n  { display: 'Libre Caslon Text', body: 'Karla' },\n  { display: 'Marcellus', body: 'Mulish' }\n];\nconst ARCHETYPE_POOL = ['cinematic', 'editorial', 'gallery_first'];\nconst BLACKLIST = 'imóvel de sonho, localização privilegiada, acabamentos de luxo, oportunidade única, excelente investimento, charme, requinte, sucesso, excelência';\n\nconst src = $items('Prepara Payload Diretor')[0].json;\nconst imovel = src.imovel_raw;\n\n// Ledger: lido pelo no anterior \"Le Variation Ledger\" (falha tolerada -> sem binary)\nlet ledger = [];\ntry {\n  if ($input.item.binary && $input.item.binary.ledger) {\n    const buf = await this.helpers.getBinaryDataBuffer(0, 'ledger');\n    ledger = JSON.parse(buf.toString('utf8'));\n    if (!Array.isArray(ledger)) ledger = [];\n  }\n} catch (e) {\n  ledger = [];\n}\nconst ledgerRecent = ledger.slice(-5);\n\n// Sinais objetivos que o Diretor deve considerar (nao sao regras rigidas, sao pistas)\nconst numFotos = (imovel.fotos || []).length;\nconst hasVideo = !!imovel.video_url;\nconst textoHistoricoRural = [(imovel.tipologia || ''), (imovel.titulo || ''), (imovel.localizacao || ''), (imovel.ano || '')].join(' ').toLowerCase();\nconst pareceHistoricoRural = /quinta|herdade|rural|casal|restaurad|s[ée]culo|centen[aá]ri|lagar|azeite|monte\\b/.test(textoHistoricoRural);\n\nconst ledgerTexto = ledgerRecent.length\n  ? ledgerRecent.map((l, i) => `${i + 1}. arquétipo=\"${l.arquetipo}\", fontes=\"${l.par_fontes?.display} + ${l.par_fontes?.body}\"`).join('\\n')\n  : '(vazio — esta é a primeira geração registada)';\n\nconst fontPoolTexto = FONT_POOL.map(f => `${f.display} + ${f.body}`).join('; ');\n\nconst promptText = `Atuas como Diretor de Arte de uma agência especializada em imobiliário de luxo em Portugal.\nO teu papel é decidir a DIREÇÃO CRIATIVA de uma landing page para UM imóvel. Não escreves copy — isso é o Copywriter, que vai executar o teu brief a seguir.\n\nDADOS DO IMÓVEL: ${JSON.stringify(imovel)}\nLOGO: ${src.logo_status}\n\nSINAIS DISPONÍVEIS (pistas, não regras rígidas — usa em conjunto com o teu critério):\n- Tem vídeo promocional: ${hasVideo ? 'sim' : 'não'}\n- Número de fotos: ${numFotos}\n- Parece ter carácter histórico/rural pelo texto fornecido: ${pareceHistoricoRural ? 'sim' : 'não'}\n\nHISTÓRICO DAS ÚLTIMAS GERAÇÕES (evitar repetição — ver regra 1 abaixo):\n${ledgerTexto}\n\nREGRAS:\n1. PROIBIDO escolher a MESMA combinação de arquétipo + par de fontes de qualquer uma das gerações no histórico acima. Se o teu primeiro instinto colidir, escolhe a segunda melhor opção.\n2. Arquétipo — orientação (não é if/else automático, pondera com o resto dos dados):\n   - \"cinematic\": quando há vídeo e/ou fotos com grande impacto visual — hero full-screen imersivo.\n   - \"gallery_first\": quando há muitas fotos (tipicamente 8 ou mais) mostrando espaços distintos — a grelha é o hero.\n   - \"editorial\": quando o imóvel tem história, carácter ou raridade — composição assimétrica tipo revista de arquitetura.\n3. Fontes: escolhe UM par do pool: ${fontPoolTexto}.\n4. Paleta: se houver logo, deriva da marca; se não houver, escolhe pelo carácter do imóvel. PROIBIDO paletas default de startup (roxo/gradiente azul-rosa).\n5. \"angulo_headline\" é a decisão mais importante que tomas. Define a TENSÃO emocional que o headline vai explorar — não pode ser um facto a parafrasear. Escolhe um destes ângulos e explica-o:\n   - raridade: o que torna este imóvel quase impossível de repetir/encontrar.\n   - contraste: a tensão entre dois opostos que coexistem no imóvel (ex: antigo vs. moderno, isolamento vs. proximidade).\n   - promessa: a transformação de vida que o comprador ganha.\n   - desejo: a inveja/aspiração que o imóvel provoca em quem o vê.\n   Exemplo do nível de especificidade esperado: \"explorar a raridade — quantas casas da Comporta têm o pôr do sol dentro da piscina?\" NÃO escreves o headline em si — isso é o Copywriter.\n6. \"palavras_proibidas\": indica exatamente 2 palavras ou expressões (além da lista negra padrão) que, dado o ângulo escolhido, tornariam o headline genérico se usadas. Ex.: se o ângulo é \"raridade\", proíbe \"único\" e \"exclusivo\" (batidas demais para esse ângulo).\n7. Justifica arquétipo e paleta em 2-3 frases cada.\n8. \"espacamento\": escolhe \"arejado\" (muito espaço em branco, respiração generosa — para imóveis serenos/isolados/minimalistas) ou \"denso\" (composição mais compacta, secções mais próximas — para imóveis urbanos/vibrantes com muito para mostrar).\n9. \"tratamento_imagem\": escolhe \"framed\" (fotografia emoldurada — margem/moldura visível à volta da imagem, tratamento mais formal e contido) ou \"full-bleed\" (fotografia a sangrar até à margem do ecrã, tratamento mais imersivo). Não é o mesmo eixo que \"espacamento\" — podes ter imagens full-bleed num layout denso, ou emolduradas num layout arejado.\n10. \"ornamento\": escolhe \"nenhum\" (sem elementos decorativos, só tipografia e espaço), \"linha\" (linhas finas divisórias entre secções) ou \"marca\" (um pequeno sinal/marca gráfica decorativa entre secções). Escolhe com moderação — o ornamento é a exceção, não a regra.\n\nLista negra padrão (o Copywriter também a vai receber): ${BLACKLIST}`;\n\nconst responseSchema = {\n  type: 'OBJECT',\n  required: ['conceito', 'angulo_headline', 'arquetipo', 'justificacao_arquetipo', 'paleta', 'justificacao_paleta', 'par_fontes', 'palavras_proibidas', 'espacamento', 'tratamento_imagem', 'ornamento'],\n  properties: {\n    conceito: { type: 'STRING' },\n    angulo_headline: { type: 'STRING' },\n    arquetipo: { type: 'STRING', enum: ARCHETYPE_POOL },\n    justificacao_arquetipo: { type: 'STRING' },\n    paleta: {\n      type: 'OBJECT', required: ['bg', 'surface', 'ink', 'accent', 'accent_soft'],\n      properties: { bg: { type: 'STRING' }, surface: { type: 'STRING' }, ink: { type: 'STRING' }, accent: { type: 'STRING' }, accent_soft: { type: 'STRING' } }\n    },\n    justificacao_paleta: { type: 'STRING' },\n    par_fontes: {\n      type: 'OBJECT', required: ['display', 'body'],\n      properties: { display: { type: 'STRING' }, body: { type: 'STRING' } }\n    },\n    palavras_proibidas: { type: 'ARRAY', minItems: 2, maxItems: 2, items: { type: 'STRING' } },\n    espacamento: { type: 'STRING', enum: ['arejado', 'denso'] },\n    tratamento_imagem: { type: 'STRING', enum: ['framed', 'full-bleed'] },\n    ornamento: { type: 'STRING', enum: ['nenhum', 'linha', 'marca'] }\n  }\n};\n\nconst parts = [{ text: promptText }];\nif (src.logo_inline_part) parts.push(src.logo_inline_part);\n\nconst diretorRequest = {\n  contents: [{ parts }],\n  generationConfig: { temperature: 0.95, maxOutputTokens: 4096, responseMimeType: 'application/json', responseSchema }\n};\n\nreturn [{\n  json: {\n    diretorRequest,\n    imovel_raw: imovel,\n    logo_base64: src.logo_base64,\n    logo_mime: src.logo_mime,\n    ledger,\n    font_pool: FONT_POOL,\n    archetype_pool: ARCHETYPE_POOL\n  }\n}];\n"
      },
      "id": "code-monta-prompt-diretor-1",
      "name": "Monta Prompt Diretor",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        540,
        304
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://generativelanguage.googleapis.com/v1beta/models/gemini-3.1-pro-preview:generateContent",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "=Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "contentType": "=json",
        "specifyBody": "json",
        "bodyParameters": {
          "parameters": [
            {}
          ]
        },
        "jsonBody": "={{ JSON.stringify($json.diretorRequest) }}",
        "options": {
          "timeout": 60000
        }
      },
      "id": "http-diretor-arte-1",
      "name": "Diretor de Arte",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        720,
        304
      ],
      "continueOnFail": true,
      "onError": "continueRegularOutput",
      "credentials": {
        "httpHeaderAuth": {
          "id": "e8c8ea4d-4e4c-46e4-aa54-28f92b4741fb",
          "name": "Gemini API Key"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "function hashStr(str, salt) {\n  let h = 5381;\n  const s = String(str) + '|' + salt;\n  for (let i = 0; i < s.length; i++) {\n    h = ((h << 5) + h + s.charCodeAt(i)) | 0;\n  }\n  return Math.abs(h);\n}\n\nconst src = $items('Monta Prompt Diretor')[0].json;\nconst imovel = src.imovel_raw;\nconst ledger = src.ledger || [];\nconst FONT_POOL = src.font_pool;\nconst ARCHETYPE_POOL = src.archetype_pool;\nconst BLACKLIST = 'imóvel de sonho, localização privilegiada, acabamentos de luxo, oportunidade única, excelente investimento, charme, requinte, sucesso, excelência';\n\nconst DEFAULT_BRIEF = {\n  conceito: 'Brief padrão (Diretor de Arte indisponível nesta execução) — apresentação sóbria e atemporal.',\n  angulo_headline: 'promessa',\n  arquetipo: 'editorial',\n  justificacao_arquetipo: 'Brief de recurso: o arquétipo editorial funciona como base segura e sóbria quando não há uma decisão criativa disponível.',\n  paleta: { bg: '#FAF8F5', surface: '#F1EDE6', ink: '#1C2421', accent: '#8C6D4F', accent_soft: '#E8DFD2' },\n  justificacao_paleta: 'Brief de recurso: paleta neutra areia/terracota, segura para qualquer tipo de imóvel.',\n  par_fontes: FONT_POOL[2],\n  palavras_proibidas: ['fantástico', 'incrível'],\n  espacamento: 'arejado',\n  tratamento_imagem: 'framed',\n  ornamento: 'linha'\n};\n\n// 1. Parse do Diretor — tolera falha (continueOnFail), aplica fallback documentado\nlet diretorFallback = false;\nlet diretorFallbackMotivo = '';\nlet brief = null;\ntry {\n  const diretorItem = $items('Diretor de Arte')[0];\n  if (diretorItem.json.error) throw new Error('Node HTTP falhou: ' + JSON.stringify(diretorItem.json.error).substring(0, 200));\n  const cands = diretorItem.json.candidates;\n  const parts = cands[0].content.parts;\n  const raw = parts[parts.length - 1].text || '';\n  const cleaned = raw.replace(/```json/g, '').replace(/```/g, '').trim();\n  const parsed = JSON.parse(cleaned);\n  const REQUIRED = ['conceito', 'angulo_headline', 'arquetipo', 'justificacao_arquetipo', 'paleta', 'justificacao_paleta', 'par_fontes', 'palavras_proibidas', 'espacamento', 'tratamento_imagem', 'ornamento'];\n  for (const k of REQUIRED) { if (parsed[k] === undefined) throw new Error('campo \"' + k + '\" ausente na resposta do Diretor'); }\n  brief = parsed;\n} catch (e) {\n  diretorFallback = true;\n  diretorFallbackMotivo = e.message || String(e);\n  brief = JSON.parse(JSON.stringify(DEFAULT_BRIEF));\n  console.warn('DIRETOR DE ARTE: fallback ativado — ' + diretorFallbackMotivo);\n}\n\n// 2. Backstop — se a combinacao repetir qualquer uma das ultimas 3 do ledger, forca rotacao deterministica\nconst landingIdSeed = imovel.titulo + '|' + imovel.localizacao + '|' + Date.now();\nconst last3 = ledger.slice(-3);\nconst repeteUltimas3 = last3.some(l =>\n  l.arquetipo === brief.arquetipo &&\n  l.par_fontes?.display === brief.par_fontes?.display &&\n  l.par_fontes?.body === brief.par_fontes?.body\n);\nlet backstopAplicado = false;\nif (repeteUltimas3) {\n  backstopAplicado = true;\n  const fontIdx = hashStr(landingIdSeed, 'font') % FONT_POOL.length;\n  const archIdx = hashStr(landingIdSeed, 'arch') % ARCHETYPE_POOL.length;\n  brief.par_fontes = FONT_POOL[fontIdx];\n  brief.arquetipo = ARCHETYPE_POOL[archIdx];\n  brief.justificacao_arquetipo += ' [Rotação automática aplicada: a escolha original repetia uma combinação recente.]';\n}\n\n// 3. Prompt do Copywriter — executa o brief, nao decide estetica\nconst destaquesUnicos = (imovel.destaques_unicos || []).filter(Boolean);\nconst numDestaquesObrigatorios = Math.max(destaquesUnicos.length, 1);\nconst numDestaquesMax = Math.max(5, numDestaquesObrigatorios + 2);\nconst numFotos = (imovel.fotos || []).length;\nconst listaDestaquesObrigatorios = destaquesUnicos.map((d, i) => `  ${i + 1}. ${d}`).join('\\n');\n\nconst promptText = `Atuas como Copywriter de uma agência especializada em imobiliário de luxo em Portugal.\nExecutas o brief do Diretor de Arte abaixo. NÃO decides estética — arquétipo, paleta e fontes já estão decididos.\n\nDADOS DO IMÓVEL: ${JSON.stringify(imovel)}\n\nBRIEF DO DIRETOR DE ARTE:\n- Conceito: ${brief.conceito}\n- Ângulo do headline (a tensão a explorar): ${brief.angulo_headline}\n- Arquétipo: ${brief.arquetipo}\n\nINSTRUÇÃO CRÍTICA SOBRE O HEADLINE: o headline TEM de explorar o ângulo \"${brief.angulo_headline}\" definido pelo Diretor.\nSe o headline for uma simples transcrição ou paráfrase de um dos destaques_unicos (ex: copiar literalmente \"piscina de água salgada...\" como headline), está ERRADO — isso é o que o Diretor foi contratado para evitar.\nO headline deve usar um dos destaques_unicos como MATERIAL, não como frase pronta. A subheadline pode ser mais literal/descritiva.\n\nINSTRUÇÃO CRÍTICA SOBRE OS DESTAQUES (imovel.destaques) — OBRIGATÓRIO:\nO cliente submeteu estes ${numDestaquesObrigatorios} destaques_unicos (o que este imóvel tem que nenhum outro tem):\n${listaDestaquesObrigatorios}\nCada um destes é OBRIGATÓRIO e gera um card na secção \"02 A Casa\", pela ordem dada acima — são os primeiros\n${numDestaquesObrigatorios} itens do array \"destaques\". Em cada um desses itens, o campo \"origem_destaque\" TEM\nde citar/parafrasear claramente qual dos destaques_unicos acima esse card desenvolve.\nNÃO os substituas por comodidades genéricas (piscina, painéis solares, garagem, jardim, poço) — essas já estão\nna ficha técnica, não são o argumento de venda único deste imóvel. Podes ACRESCENTAR cards extra DEPOIS destes\n${numDestaquesObrigatorios} obrigatórios (até um total de ${numDestaquesMax}), nunca em vez deles.\nGarante também que o pull-quote (descricao_lifestyle) não contradiz os destaques — se um destaque fala de\nautenticidade histórica, a descricao_lifestyle não pode descrever algo genérico/moderno sem ligação a isso.\n\nREGRAS:\n1. Português europeu, sóbrio, sensorial.\n2. PROIBIDO usar estas expressões ou emojis (lista negra padrão): ${BLACKLIST}.\n3. PROIBIDO usar estas 2 palavras específicas definidas pelo Diretor para este imóvel: ${brief.palavras_proibidas.join(', ')}.\n4. Preenche TODOS os campos do schema. Nenhum vazio.\n5. Em \"detalhe_unico_usado\", indica qual dos destaques_unicos usaste como material do headline.\n6. NÃO inventes nem reorganizes factos do imóvel (preço, tipologia, área, quartos, wc, ano,\n   localização, extras) — esses campos são geridos deterministicamente pelo Compilador a partir\n   dos dados originais, não fazem parte da tua resposta.\n7. \"galeria.legendas\" tem de ter exatamente ${numFotos} legendas, uma por cada foto submetida, pela mesma ordem.\n   Nenhuma legenda vazia.`;\n\nconst responseSchema = {\n  type: 'OBJECT',\n  required: ['detalhe_unico_usado', 'hero', 'imovel', 'galeria', 'localizacao', 'agendamento', 'seo'],\n  properties: {\n    detalhe_unico_usado: { type: 'STRING' },\n    hero: { type: 'OBJECT', required: ['eyebrow', 'headline', 'subheadline', 'cta_label'],\n      properties: { eyebrow: { type: 'STRING' }, headline: { type: 'STRING' }, subheadline: { type: 'STRING' }, cta_label: { type: 'STRING' } } },\n    imovel: { type: 'OBJECT', required: ['descricao_lifestyle', 'destaques'],\n      properties: {\n        descricao_lifestyle: { type: 'STRING' },\n        destaques: {\n          type: 'ARRAY', minItems: numDestaquesObrigatorios, maxItems: numDestaquesMax,\n          items: {\n            type: 'OBJECT', required: ['titulo', 'descricao', 'origem_destaque'],\n            properties: { titulo: { type: 'STRING' }, descricao: { type: 'STRING' }, origem_destaque: { type: 'STRING' } }\n          }\n        }\n      } },\n    galeria: { type: 'OBJECT', required: ['headline', 'legendas'],\n      properties: { headline: { type: 'STRING' }, legendas: { type: 'ARRAY', minItems: numFotos, maxItems: numFotos, items: { type: 'STRING' } } } },\n    localizacao: { type: 'OBJECT', required: ['headline', 'descricao_zona'], properties: { headline: { type: 'STRING' }, descricao_zona: { type: 'STRING' } } },\n    agendamento: { type: 'OBJECT', required: ['headline', 'subtext', 'button_label'], properties: { headline: { type: 'STRING' }, subtext: { type: 'STRING' }, button_label: { type: 'STRING' } } },\n    seo: { type: 'OBJECT', required: ['title', 'description'], properties: { title: { type: 'STRING' }, description: { type: 'STRING' } } }\n  }\n};\n\nconst parts = [{ text: promptText }];\nif (src.logo_base64 && src.logo_mime) parts.push({ inlineData: { mimeType: src.logo_mime, data: src.logo_base64 } });\n\nconst copywriterRequest = {\n  contents: [{ parts }],\n  generationConfig: { temperature: 0.7, maxOutputTokens: 8192, responseMimeType: 'application/json', responseSchema }\n};\n\nreturn [{\n  json: {\n    copywriterRequest,\n    imovel_raw: imovel,\n    logo_base64: src.logo_base64,\n    logo_mime: src.logo_mime,\n    brief,\n    ledger,\n    diretor_fallback: diretorFallback,\n    diretor_fallback_motivo: diretorFallbackMotivo,\n    backstop_aplicado: backstopAplicado\n  }\n}];\n"
      },
      "id": "code-parseia-diretor-1",
      "name": "Parseia Diretor e Monta Copywriter",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        900,
        304
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://generativelanguage.googleapis.com/v1beta/models/gemini-3.5-flash:generateContent",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "=Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "contentType": "=json",
        "specifyBody": "json",
        "bodyParameters": {
          "parameters": [
            {}
          ]
        },
        "jsonBody": "={{ JSON.stringify($json.copywriterRequest) }}",
        "options": {
          "timeout": 45000
        }
      },
      "id": "http-copywriter-1",
      "name": "Copywriter",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        1080,
        304
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "e8c8ea4d-4e4c-46e4-aa54-28f92b4741fb",
          "name": "Gemini API Key"
        }
      }
    },
    {
      "parameters": {
        "fileSelector": "/home/node/.n8n-files/templates/imovel_editorial.html",
        "options": {}
      },
      "id": "read-template-imovel-1",
      "name": "Le Template Imovel",
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1,
      "position": [
        1260,
        304
      ]
    },
    {
      "parameters": {
        "jsCode": "// CONFIGURAÇÃO PRISMA — ponto único de alteração (acesso a $env está bloqueado\n// no sandbox do Code node nesta instância n8n).\nconst PRISMA_CONTACT_WHATSAPP = '+351920000000';\nconst PRISMA_ATTRIBUTION_URL = 'https://prismastudio.pt';\nconst PRISMA_ATTRIBUTION_LABEL = 'Criado com Prisma';\n\nfunction escapeHtml(unsafe) {\n  if (unsafe === undefined || unsafe === null) return '';\n  return String(unsafe).replace(/&/g, \"&amp;\").replace(/</g, \"&lt;\").replace(/>/g, \"&gt;\").replace(/\"/g, \"&quot;\").replace(/'/g, \"&#039;\");\n}\nfunction escapeAttr(unsafe) {\n  if (unsafe === undefined || unsafe === null) return '';\n  return String(unsafe).replace(/\"/g, \"&quot;\").replace(/'/g, \"&#039;\");\n}\nfunction safeUrl(unsafeUrl) {\n  if (!unsafeUrl) return '';\n  const u = String(unsafeUrl).trim();\n  if (u.startsWith('http://') || u.startsWith('https://')) return escapeAttr(u);\n  return '';\n}\nfunction toEmbedUrl(url) {\n  if (!url) return '';\n  const u = String(url).trim();\n  let m = u.match(/(?:youtube\\.com\\/watch\\?v=|youtu\\.be\\/|youtube\\.com\\/embed\\/)([a-zA-Z0-9_-]{6,})/);\n  if (m) return 'https://www.youtube.com/embed/' + m[1];\n  m = u.match(/vimeo\\.com\\/(?:video\\/)?(\\d+)/);\n  if (m) return 'https://player.vimeo.com/video/' + m[1];\n  return '';\n}\nfunction toNumericPrice(str) {\n  if (!str) return '';\n  const digits = String(str).replace(/[^\\d]/g, '');\n  return digits || '';\n}\nfunction slugify(str) {\n  return String(str || 'imovel').toLowerCase()\n    .normalize('NFD').replace(/[̀-ͯ]/g, '')\n    .replace(/[^a-z0-9]+/g, '-').replace(/^-+|-+$/g, '').substring(0, 60) || 'imovel';\n}\nfunction isLowResImage(base64, mime) {\n  try {\n    const buf = Buffer.from(base64, 'base64');\n    if (mime === 'image/png' && buf.length > 24 && buf.readUInt32BE(0) === 0x89504e47) {\n      const width = buf.readUInt32BE(16);\n      const height = buf.readUInt32BE(20);\n      return width < 200 || height < 200;\n    }\n    if (mime === 'image/jpeg') {\n      let i = 2;\n      while (i < buf.length - 9) {\n        if (buf[i] !== 0xFF) { i++; continue; }\n        const marker = buf[i + 1];\n        if (marker >= 0xC0 && marker <= 0xC3) {\n          const height = buf.readUInt16BE(i + 5);\n          const width = buf.readUInt16BE(i + 7);\n          return width < 200 || height < 200;\n        }\n        const segLen = buf.readUInt16BE(i + 2);\n        i += 2 + segLen;\n      }\n    }\n  } catch (e) { /* formato não reconhecido (svg/webp) — não classifica como fraca */ }\n  return false;\n}\nfunction renderLoop(html, key, items) {\n  const escKey = key.replace('.', '\\\\.');\n  const re = new RegExp('\\\\{\\\\{#' + escKey + '\\\\}\\\\}([\\\\s\\\\S]*?)\\\\{\\\\{\\\\/' + escKey + '\\\\}\\\\}');\n  const m = html.match(re);\n  if (!m) return html;\n  const block = m[1];\n  const rendered = (items || []).map(item => {\n    let s = block;\n    for (const k in item) {\n      s = s.split('{{' + k + '}}').join(item[k]);\n    }\n    return s;\n  }).join('');\n  return html.replace(re, rendered);\n}\nfunction renderIf(html, key, condition) {\n  const re = new RegExp('<!--IF:' + key + '-->([\\\\s\\\\S]*?)<!--/IF:' + key + '-->', 'g');\n  return html.replace(re, condition ? '$1' : '');\n}\nfunction buildSrcsetAttr(url, widths, sizes) {\n  const u = String(url || '');\n  if (!u.startsWith('https://images.unsplash.com/')) return '';\n  const base = u.split('?')[0];\n  const parts = widths.map(w => `${base}?w=${w}&q=${w <= 800 ? 75 : 80}&auto=format ${w}w`);\n  return `srcset=\"${escapeAttr(parts.join(', '))}\" sizes=\"${escapeAttr(sizes)}\"`;\n}\nfunction capitalizeFirst(str) {\n  const s = String(str || '').trim();\n  return s ? s.charAt(0).toUpperCase() + s.slice(1) : s;\n}\nfunction getInitials(name) {\n  const stopwords = new Set(['de', 'da', 'do', 'das', 'dos', 'e', 'a', 'o', 'as', 'os']);\n  // palavras genericas descritivas quando aparecem no INICIO do nome — a marca\n  // costuma comecar depois delas (ex.: \"Imobiliaria Sao Joao\" -> a marca e \"Sao Joao\")\n  const genericLeading = new Set(['imobiliaria', 'imobiliária', 'mediacao', 'mediação', 'agencia', 'agência', 'grupo', 'casa']);\n  let words = String(name || '').trim().split(/\\s+/).filter(Boolean);\n  while (words.length > 1 && genericLeading.has(words[0].toLowerCase().replace(/[.,]/g, ''))) {\n    words = words.slice(1);\n  }\n  words = words.filter(w => {\n    const clean = w.replace(/[.,&]/g, '');\n    return clean && !stopwords.has(clean.toLowerCase());\n  });\n  const initials = words.slice(0, 2).map(w => (w.replace(/[^\\p{L}\\p{N}]/gu, '')[0] || '').toUpperCase()).join('');\n  return initials || String(name || 'P').charAt(0).toUpperCase();\n}\nfunction normalizeAccents(s) {\n  return String(s || '').toLowerCase().normalize('NFD').replace(/[̀-ͯ]/g, '');\n}\nfunction keywordsOf(s) {\n  const STOP = new Set(['de', 'da', 'do', 'das', 'dos', 'e', 'a', 'o', 'as', 'os', 'em', 'com', 'por', 'para', 'um', 'uma', 'uns', 'umas', 'no', 'na', 'nos', 'nas', 'ao', 'aos']);\n  return normalizeAccents(s).replace(/[^a-z0-9\\s]/g, ' ').split(/\\s+/).filter(w => w.length >= 5 && !STOP.has(w));\n}\n// F5 backstop — verifica se um destaque do LLM cobre de facto um destaque_unico\n// submetido pelo cliente (por sobreposicao de palavras-chave com titulo/descricao/\n// origem_destaque). Heuristica, mas suficiente para apanhar substituicoes por\n// comodidades genericas (o LLM nao inventa vocabulario identico por acaso).\nfunction destaqueCobreOrigem(destaqueUnico, item) {\n  const kws = keywordsOf(destaqueUnico);\n  if (!kws.length) return true;\n  const haystack = normalizeAccents((item && item.origem_destaque || '') + ' ' + (item && item.titulo || '') + ' ' + (item && item.descricao || ''));\n  return kws.some(k => haystack.includes(k));\n}\n\n// 1. Parse Copywriter — falha explicita, sem fallback generico (conteudo e caminho critico)\nlet geminiText = '';\ntry {\n  const cands = $items('Copywriter')[0].json.candidates;\n  const parts = cands[0].content.parts;\n  geminiText = parts[parts.length - 1].text || '';\n} catch (e) {\n  throw new Error('COMPILADOR: resposta do Copywriter sem candidates/parts válidos. Execução falhada, nada publicado.');\n}\n\nlet g;\ntry {\n  const cleaned = geminiText.replace(/```json/g, '').replace(/```/g, '').trim();\n  g = JSON.parse(cleaned);\n} catch (e) {\n  throw new Error('COMPILADOR: JSON do Copywriter inválido, execução falhada. Raw (300 chars): ' + geminiText.substring(0, 300));\n}\nconst REQUIRED_TOP = ['detalhe_unico_usado', 'hero', 'imovel', 'galeria', 'localizacao', 'agendamento', 'seo'];\nfor (const k of REQUIRED_TOP) {\n  if (g[k] === undefined) throw new Error('COMPILADOR: campo obrigatório \"' + k + '\" ausente na resposta do Copywriter. Execução falhada.');\n}\n\n// 2. Dados brutos + brief do Diretor\nconst prev = $items('Parseia Diretor e Monta Copywriter')[0].json;\nconst imovelRaw = prev.imovel_raw || {};\nconst logoBase64 = prev.logo_base64 || '';\nconst logoMime = prev.logo_mime || '';\nconst brief = prev.brief;\nconst ledgerAnterior = prev.ledger || [];\n\n// F5 backstop — os destaques_unicos submetidos pelo cliente sao obrigatorios e\n// tem de aparecer, pela ordem submetida, nas primeiras posicoes de imovel.destaques.\n// Se o Copywriter os tiver substituido por comodidades genericas (o schema ja o\n// probe via minItems, mas nao garante o CONTEUDO certo), o card e reconstruido\n// diretamente a partir do texto do cliente, sem embelezamento, em vez de o perder.\nconst destaquesUnicosCliente = (imovelRaw.destaques_unicos || []).filter(Boolean);\nconst destaquesLlm = Array.isArray(g.imovel && g.imovel.destaques) ? g.imovel.destaques.slice() : [];\nconst destaquesBackstopAplicado = [];\ndestaquesUnicosCliente.forEach((unico, i) => {\n  const item = destaquesLlm[i];\n  if (!item || !destaqueCobreOrigem(unico, item)) {\n    destaquesLlm[i] = { titulo: capitalizeFirst(unico).substring(0, 60), descricao: capitalizeFirst(unico) };\n    destaquesBackstopAplicado.push(i);\n  }\n});\nif (g.imovel) g.imovel.destaques = destaquesLlm;\n\ng.direction_sheet = {\n  arquetipo: brief.arquetipo,\n  justificacao_arquetipo: brief.justificacao_arquetipo,\n  justificacao_paleta: brief.justificacao_paleta,\n  detalhe_unico_usado: g.detalhe_unico_usado,\n  conceito: brief.conceito,\n  angulo_headline: brief.angulo_headline,\n  palavras_proibidas: brief.palavras_proibidas\n};\ng.identity = {\n  paleta: brief.paleta,\n  fontes: brief.par_fontes,\n  espacamento: brief.espacamento,\n  tratamento_imagem: brief.tratamento_imagem,\n  ornamento: brief.ornamento\n};\n\n// Meta (novos nesta geração)\nconst landingId = Date.now().toString(36) + Math.random().toString(36).substring(2, 8) + Math.random().toString(36).substring(2, 8);\nconst expiresAt = new Date(Date.now() + 24 * 3600 * 1000).toISOString();\nconst estado = 'preview';\nconst dominio = null;\nconst colecao = 'editorial';\n\n// 3. Template\nconst htmlBuffer = await this.helpers.getBinaryDataBuffer(0, 'data');\nlet html = htmlBuffer.toString('utf8');\n\n// 4. Logo / monograma — 3 cenários: logo forte, logo fraca -> monograma, sem logo -> monograma\nconst hasLogo = !!(imovelRaw.logo && logoBase64);\nconst logoFraca = hasLogo && isLowResImage(logoBase64, logoMime);\nconst showLogoHeader = hasLogo && !logoFraca;\nconst showMonogram = !hasLogo || logoFraca;\nconst initials = getInitials(imovelRaw.imobiliaria);\n\n// 5. Vídeo\nconst embedUrl = toEmbedUrl(imovelRaw.video_url);\nconst hasVideo = !!embedUrl;\n\n// 6. Meta / preview — R3 mantido: CTA de publicação aponta para o contacto Prisma\nconst corretorWaDigits = String(imovelRaw.corretor?.whatsapp || '').replace(/\\D/g, '');\nconst corretorWaLink = 'https://wa.me/' + corretorWaDigits;\nconst prismaContactWhatsapp = String(PRISMA_CONTACT_WHATSAPP).replace(/\\D/g, '');\nconst paymentLinkFinal = 'https://wa.me/' + prismaContactWhatsapp + '?text=' + encodeURIComponent(\n  'Prisma Studio: quero publicar a landing \"' + imovelRaw.titulo + '\" (imobiliária: ' + imovelRaw.imobiliaria + ', landing_id: ' + landingId + ').'\n);\nconst attributionUrl = PRISMA_ATTRIBUTION_URL;\nconst attributionLabel = PRISMA_ATTRIBUTION_LABEL;\nconst agendamentoEndpoint = 'http://161.35.19.139/webhook/agendar-visita';\nconst slug = slugify(imovelRaw.titulo);\nconst fileNameBase = slug + '-' + landingId;\nconst canonical = 'http://161.35.19.139/' + fileNameBase + '.html';\n\n// 7. Loops\n// 01 · Ficha — DETERMINÍSTICA: construída pelo Compilador a partir dos dados\n// originais do Tally, com labels e ordem fixos. O LLM já não compõe a ficha\n// (removido do responseSchema do Copywriter) — factos não são criatividade,\n// e um LLM que reagrupa/omite campos a cada geração pode perder argumentos\n// de venda (ex.: \"olival de 300 oliveiras\" a desaparecer da ficha).\n// Preço sai da lista e ganha destaque próprio no topo da secção (C2).\nconst precoDisplay = escapeHtml(imovelRaw.preco || '');\nconst fichaCampos = [\n  ['Tipologia', imovelRaw.tipologia],\n  ['Área', imovelRaw.area],\n  ['Quartos', imovelRaw.quartos],\n  ['WC', imovelRaw.wc],\n  ['Ano', imovelRaw.ano],\n  ['Localização', imovelRaw.localizacao]\n];\nconst fichaTecnicaHtml = fichaCampos\n  .filter(([, valor]) => String(valor || '').trim())\n  .map(([label, valor]) => `<li><span class=\"label\">${escapeHtml(label)}</span><span class=\"valor\">${escapeHtml(valor)}</span></li>`)\n  .join('') + (() => {\n    const extrasList = (Array.isArray(imovelRaw.extras) ? imovelRaw.extras : []).filter(s => String(s || '').trim());\n    if (!extrasList.length) return '';\n    const chips = extrasList.map(s => `<span class=\"chip\">${escapeHtml(capitalizeFirst(s))}</span>`).join('');\n    return `<li class=\"wide\"><span class=\"label\">Extras</span><div class=\"chips\">${chips}</div></li>`;\n  })();\nconst fotos = (imovelRaw.fotos || []).slice(0, 15);\nconst legendas = g.galeria.legendas || [];\nconst GALLERY_WIDTHS = [400, 800, 1200];\n\n// 02 · A Casa — destaques alternados, cada um com uma foto (ciclando a partir da 2a foto, a 1a fica so para o hero)\nconst destaqueFotos = fotos.length > 1 ? fotos.slice(1) : fotos;\nconst destaques = (g.imovel.destaques || []).map((d, i) => {\n  const fotoUrl = destaqueFotos[i % destaqueFotos.length] || fotos[0] || '';\n  return {\n    titulo: escapeHtml(d.titulo),\n    descricao: escapeHtml(d.descricao),\n    reverseClass: i % 2 === 1 ? ' reverse' : '',\n    fotoSrc: safeUrl(fotoUrl),\n    fotoSrcset: buildSrcsetAttr(fotoUrl, GALLERY_WIDTHS, '(min-width: 900px) 50vw, 100vw')\n  };\n});\n\n// 03 · Espaços — galeria alternada esquerda/direita, com indice e legenda.\n// F6 backstop: se faltar legenda para uma foto, omite o bloco de legenda\n// inteiro (idx incluido) em vez de renderizar um indice orfao sem texto.\nconst galeriaFotos = fotos.map((url, i) => {\n  const idx = String(i + 1).padStart(2, '0');\n  const legendaRaw = String(legendas[i] || '').trim();\n  const legenda = escapeHtml(legendaRaw);\n  const captionHtml = legendaRaw\n    ? `<div class=\"galeria-caption\"><span class=\"idx\">${idx}</span>${legenda}</div>`\n    : '';\n  return {\n    src: safeUrl(url),\n    srcset: buildSrcsetAttr(url, GALLERY_WIDTHS, '(min-width: 900px) 58vw, 100vw'),\n    alt: escapeAttr(imovelRaw.titulo + ' — foto ' + (i + 1)),\n    legenda,\n    ariaLabel: escapeAttr(legendaRaw ? ('Ampliar foto: ' + legendaRaw) : ('Ampliar foto ' + idx)),\n    captionHtml,\n    idx,\n    sideClass: i % 2 === 1 ? ' right' : ''\n  };\n});\n\nhtml = renderLoop(html, 'imovel.destaques', destaques);\nhtml = renderLoop(html, 'galeria.fotos', galeriaFotos);\n\n// 8. Condicionais\nhtml = renderIf(html, 'preview_banner', estado === 'preview');\nhtml = renderIf(html, 'logo', showLogoHeader);\nhtml = renderIf(html, 'monogram', showMonogram);\nhtml = renderIf(html, 'video', hasVideo);\n\n// 9. Tokens simples\nconst HERO_WIDTHS = [640, 1080, 1600, 1920];\nconst map = {\n  'seo.title': escapeHtml(g.seo.title),\n  'seo.description': escapeHtml(g.seo.description),\n  'seo.canonical': canonical,\n  'seo.og_image': safeUrl(fotos[0] || ''),\n  'identity.fonts_url': (() => {\n    const pair = g.identity.fontes;\n    const fam = (name) => encodeURIComponent(name).replace(/%20/g, '+');\n    return `https://fonts.googleapis.com/css2?family=${fam(pair.display)}:wght@400;500;600;700&family=${fam(pair.body)}:wght@400;500;600&display=swap`;\n  })(),\n  'identity.bg': escapeAttr(g.identity.paleta.bg),\n  'identity.surface': escapeAttr(g.identity.paleta.surface),\n  'identity.ink': escapeAttr(g.identity.paleta.ink),\n  'identity.accent': escapeAttr(g.identity.paleta.accent),\n  'identity.accent_soft': escapeAttr(g.identity.paleta.accent_soft),\n  'identity.font_display': escapeAttr(g.identity.fontes.display),\n  'identity.font_body': escapeAttr(g.identity.fontes.body),\n  'identity.espacamento': escapeAttr(g.identity.espacamento),\n  'identity.tratamento_imagem': escapeAttr(g.identity.tratamento_imagem),\n  'identity.ornamento': escapeAttr(g.identity.ornamento),\n  'brand.favicon': safeUrl(imovelRaw.logo) || safeUrl(fotos[0] || ''),\n  'brand.name': escapeHtml(imovelRaw.imobiliaria),\n  'brand.logo': safeUrl(imovelRaw.logo),\n  'brand.initials': escapeHtml(initials),\n  'brand.privacy_url': '/privacidade.html',\n  'brand.attribution_url': escapeAttr(attributionUrl),\n  'brand.attribution_label': escapeHtml(attributionLabel),\n  'imovel.titulo': escapeHtml(imovelRaw.titulo),\n  'imovel.morada': escapeHtml(imovelRaw.localizacao),\n  'imovel.quartos': escapeHtml(imovelRaw.quartos),\n  'imovel.area': escapeHtml(imovelRaw.area),\n  'imovel.preco_valor': toNumericPrice(imovelRaw.preco),\n  'imovel.preco_display': precoDisplay,\n  'imovel.ficha_tecnica_html': fichaTecnicaHtml,\n  'imovel.foto_hero': safeUrl(fotos[0] || ''),\n  'imovel.foto_hero_srcset': buildSrcsetAttr(fotos[0] || '', HERO_WIDTHS, '(min-width: 900px) 58vw, 100vw'),\n  'imovel.video_embed_url': embedUrl,\n  'imovel.descricao_lifestyle': escapeHtml(g.imovel.descricao_lifestyle),\n  'hero.eyebrow': escapeHtml(g.hero.eyebrow),\n  'hero.headline': escapeHtml(g.hero.headline),\n  'hero.subheadline': escapeHtml(g.hero.subheadline),\n  'hero.cta_label': escapeHtml(g.hero.cta_label),\n  'localizacao.headline': escapeHtml(g.localizacao.headline),\n  'localizacao.descricao_zona': escapeHtml(g.localizacao.descricao_zona),\n  'localizacao.mapa_embed_url': 'https://www.google.com/maps?q=' + encodeURIComponent(imovelRaw.localizacao || '') + '&output=embed',\n  'agendamento.headline': escapeHtml(g.agendamento.headline),\n  'agendamento.subtext': escapeHtml(g.agendamento.subtext),\n  'agendamento.button_label': escapeHtml(g.agendamento.button_label),\n  'meta.agendamento_endpoint': agendamentoEndpoint,\n  'meta.landing_id': landingId,\n  'corretor.nome': escapeHtml(imovelRaw.corretor?.nome),\n  'corretor.whatsapp_link': corretorWaLink,\n  'corretor.whatsapp_display': escapeHtml(imovelRaw.corretor?.whatsapp),\n  'corretor.email': escapeAttr(imovelRaw.corretor?.email),\n  'preview.expires_at': expiresAt,\n  'preview.payment_link': paymentLinkFinal\n};\nfor (const k in map) {\n  html = html.split('{{' + k + '}}').join(map[k] ?? '');\n}\n\n// 10. SWEEP FINAL — falha a execução se sobrar QUALQUER placeholder\nconst leftoverTokens = html.match(/\\{\\{[^}]*\\}\\}/g) || [];\nconst leftoverIfs = html.match(/<!--\\/?IF:[a-z_]+-->/g) || [];\nif (leftoverTokens.length || leftoverIfs.length) {\n  throw new Error('SWEEP FALHOU — placeholders por resolver, execução falhada, nada publicado: ' +\n    JSON.stringify(leftoverTokens.concat(leftoverIfs)));\n}\nconst h1Count = (html.match(/<h1[ >]/g) || []).length;\nif (h1Count !== 1) {\n  throw new Error('SWEEP FALHOU — esperado exatamente 1 <h1>, encontrados ' + h1Count + '. Execução falhada, nada publicado.');\n}\nif (/src=\"\"/.test(html)) {\n  html = html.replace(/\\s*src=\"\"/g, '');\n}\n\nconst fileName = fileNameBase + '.html';\nconst stateFileName = fileNameBase + '.state.json';\nconst stateJson = {\n  landing_id: landingId,\n  colecao: colecao,\n  cliente: { imobiliaria: imovelRaw.imobiliaria, corretor: imovelRaw.corretor, nif: imovelRaw.nif },\n  imovel: imovelRaw,\n  gemini_output: g,\n  diretor_meta: {\n    fallback_ativado: prev.diretor_fallback,\n    fallback_motivo: prev.diretor_fallback_motivo || null,\n    backstop_aplicado: prev.backstop_aplicado,\n    destaques_backstop_indices: destaquesBackstopAplicado\n  },\n  estado: estado,\n  expires_at: expiresAt,\n  dominio: dominio,\n  url: canonical,\n  criado: new Date().toISOString()\n};\n\n// 11. Ledger de variação — agora regista colecao + fontes + espacamento\nconst novoLedgerEntry = {\n  landing_id: landingId,\n  titulo: imovelRaw.titulo,\n  colecao: colecao,\n  arquetipo: g.direction_sheet.arquetipo,\n  par_fontes: g.identity.fontes,\n  espacamento: g.identity.espacamento,\n  criado: new Date().toISOString()\n};\nconst ledgerAtualizado = ledgerAnterior.concat([novoLedgerEntry]).slice(-5);\n\n$input.item.binary.data = await this.helpers.prepareBinaryData(Buffer.from(html, 'utf8'), fileName, 'text/html');\n$input.item.binary.state = await this.helpers.prepareBinaryData(Buffer.from(JSON.stringify(stateJson, null, 2), 'utf8'), stateFileName, 'application/json');\n$input.item.binary.ledgerOut = await this.helpers.prepareBinaryData(Buffer.from(JSON.stringify(ledgerAtualizado, null, 2), 'utf8'), '_variation_ledger.json', 'application/json');\n$input.item.json.fileName = fileName;\n$input.item.json.stateFileName = stateFileName;\n$input.item.json.landingId = landingId;\n$input.item.json.colecao = colecao;\n$input.item.json.canonical = canonical;\n$input.item.json.stateJson = stateJson;\n\nreturn $input.item;\n"
      },
      "id": "code-compilador-editorial-1",
      "name": "Compilador Editorial",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1440,
        304
      ]
    },
    {
      "parameters": {
        "operation": "write",
        "fileName": "=/home/node/.n8n-files/builds/{{$json.fileName}}",
        "dataPropertyName": "data",
        "options": {}
      },
      "id": "write-html-imovel-1",
      "name": "Grava HTML Imovel",
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1,
      "position": [
        1660,
        180
      ]
    },
    {
      "parameters": {
        "operation": "write",
        "fileName": "=/home/node/.n8n-files/builds/{{$json.stateFileName}}",
        "dataPropertyName": "state",
        "options": {}
      },
      "id": "write-state-imovel-1",
      "name": "Grava State JSON",
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1,
      "position": [
        1660,
        304
      ]
    },
    {
      "parameters": {
        "operation": "write",
        "fileName": "/home/node/.n8n-files/builds/_variation_ledger.json",
        "dataPropertyName": "ledgerOut",
        "options": {}
      },
      "id": "write-ledger-1",
      "name": "Atualiza Variation Ledger",
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1,
      "position": [
        1660,
        420
      ]
    }
  ],
  "connections": {
    "Webhook Imovel": {
      "main": [
        [
          {
            "node": "Prepara Payload Diretor",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepara Payload Diretor": {
      "main": [
        [
          {
            "node": "Le Variation Ledger",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Le Variation Ledger": {
      "main": [
        [
          {
            "node": "Monta Prompt Diretor",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Monta Prompt Diretor": {
      "main": [
        [
          {
            "node": "Diretor de Arte",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Diretor de Arte": {
      "main": [
        [
          {
            "node": "Parseia Diretor e Monta Copywriter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parseia Diretor e Monta Copywriter": {
      "main": [
        [
          {
            "node": "Copywriter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Copywriter": {
      "main": [
        [
          {
            "node": "Le Template Imovel",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Le Template Imovel": {
      "main": [
        [
          {
            "node": "Compilador Editorial",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Compilador Editorial": {
      "main": [
        [
          {
            "node": "Grava HTML Imovel",
            "type": "main",
            "index": 0
          },
          {
            "node": "Grava State JSON",
            "type": "main",
            "index": 0
          },
          {
            "node": "Atualiza Variation Ledger",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  }
}
